<%= render Primer::BaseComponent.new(**@system_arguments) do %>
  <div class="Overlay-headerContentWrap">
    <div class="Overlay-titleWrap">
      <h1 class="Overlay-title <% if @visually_hide_title || content.present? %>sr-only<% end %>" id="<%= @id %>-title">
        <%= @title %>
      </h1>
      <% if content.present? %>
        <%= content %>
      <% elsif @subtitle.present? %>
        <h2 id="<%= @id %>-description" class="Overlay-description"><%= @subtitle %></h2>
      <% else %>
        <%= subtitle %>
      <% end %>
    </div>
    <% if @close_scheme != :none %>
      <div class="Overlay-actionWrap">
        <%= render(
          Primer::Beta::CloseButton.new(
            classes: "Overlay-closeButton",
            aria: { label: @close_label },
            data: { close_dialog_id: @id }
          )
        ) %>
      </div>
    <% end %>
  </div>
  <%= filter %>
<% end %>
