<%= render Primer::BaseComponent.new(**@system_arguments) do %>
  <%= breadcrumbs %>
  <div class="PageHeader-titleBar">
    <%= back_button %>
    <%= title %>
    <%= actions %>
  </div>
  <%= description %>
<% end %>
