<%= render Primer::BaseComponent.new(**@system_arguments) do %>
  <% if @parent_link || breadcrumbs || actions.any? %>
    <div class="PageHeader-contextBar">
      <%= @parent_link %>
      <%= breadcrumbs %>

      <% if @show_mobile_menu %>
        <%= render(@mobile_action_menu) do |menu| %>
          <% menu.with_show_button(icon: :"kebab-horizontal", "aria-label": @mobile_menu_label) %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <div class="PageHeader-titleBar">
    <%= leading_action %>
    <%= title %>
    <% if actions.any? %>
      <div class="PageHeader-actions">
        <% actions.each do |action| %>
          <%= action %>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= description %>
<% end %>
