<%= render Primer::BaseComponent.new(**@system_arguments) do %>
  <% if breadcrumbs %>
    <% if @parent_link || actions.any? %>
      <div class="PageHeader-contextBar">
        <%= @parent_link %>
        <%= breadcrumbs %>
        <%= render_mobile_actions %>
      </div>
    <% end %>
  <% end %>

  <div class="PageHeader-titleBar">
    <%= leading_action %>
    <%= title %>
    <% if actions.any? && show_state? %>
      <div class="PageHeader-actions">
        <% actions.each do |action| %>
          <%= action %>
        <% end %>

        <%# If there are no breadcrumbs, render mobile actions in the title bar instead %>
        <% unless breadcrumbs %>
          <%= render_mobile_actions %>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= description %>
  <% if tab_nav %>
    <div class="PageHeader-tabNavBar">
      <%= tab_nav %>
    </div>
  <% end %>
<% end %>
