<%= render Primer::BaseComponent.new(**@system_arguments) do %>
  <%= context_bar %>
  <div class="PageHeader-titleBar">
    <%= leading_action %>
    <%= title %>
    <% if actions.any? && show_state? %>
      <div class="PageHeader-actions">
        <% actions.each do |action| %>
          <%= action %>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= description %>
  <% if tab_nav %>
    <div class="PageHeader-tabNavBar">
      <%= tab_nav %>
    </div>
  <% end %>
<% end %>
