<%= render Primer::BaseComponent.new(**@system_arguments) do %>
  <% if parent_link || breadcrumbs || context_bar_actions %>
    <div class="PageHeader-contextBar">
      <%= parent_link %>
      <%= breadcrumbs %>
      <%= context_bar_actions %>
    </div>
  <% end %>

  <div class="PageHeader-titleBar">
    <%= leading_action %>
    <%= title %>
    <%= actions %>
  </div>

  <%= description %>
<% end %>
