<%= render Primer::BaseComponent.new(**@system_arguments) do %>
  <% if parent_link || breadcrumbs || context_bar_actions %>
    <div class="PageHeader-contextBar">
      <%= parent_link %>
      <%= breadcrumbs %>
      <% if context_bar_actions.any? %>
        <%= render Primer::BaseComponent.new(tag: :div, classes: 'PageHeader-contextBarActions', display: DEFAULT_CONTEXT_BAR_ACTIONS_DISPLAY, align_items: :center) do %>
          <% context_bar_actions.each do |action| %>
            <%= action %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <div class="PageHeader-titleBar">
    <%= leading_action %>
    <%= title %>
    <% if actions.any? %>
      <div class="PageHeader-actions">
        <% actions.each do |action| %>
          <%= action %>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= description %>
<% end %>
