<%= render Primer::BaseComponent.new(**@system_arguments) do %>
  <div class="SubHeader-leftPane">
    <%= render @filter_container do %>
      <%= filter_input %>
      <%= render @mobile_filter_cancel do
        I18n.t("button_cancel")
      end if @mobile_filter_cancel.present? %>
    <% end if filter_input.present? %>

    <%= render @mobile_filter_trigger if @mobile_filter_trigger.present? %>

    <%= render(@mobile_filter_button) if @mobile_filter_button.present? %>

    <%= filter_button %>

    <%= segmented_control %>

    <% if @segmented_control_block.present? %>
      <%= render(@mobile_segmented_control) do |control| %>
        <% @segmented_control_block.call(control) %>
      <% end %>
    <% end %>
  </div>

  <div class="SubHeader-middlePane" data-targets="<%= HIDDEN_FILTER_TARGET_SELECTOR %>">
    <%= text %>
  </div>

  <div class="SubHeader-rightPane" data-targets="<%= HIDDEN_FILTER_TARGET_SELECTOR %>">
    <% actions.each do |action| %>
      <%= action %>
    <% end %>

    <% @mobile_actions.each do |mobile_action| %>
      <%= render(mobile_action[:component]) do |action| %>
        <% mobile_action[:block].call(action) %>
      <% end %>
    <% end unless @mobile_actions.nil? %>
  </div>

  <% if bottom_pane_component.present? %>
    <div class="SubHeader-bottomPane">
      <%= bottom_pane_component %>
    </div>
  <% end %>
<% end %>
