<%= show_button %>
<dialog-helper>
  <%= render Primer::BaseComponent.new(**@system_arguments) do %>
    <div class="successDialog-contents">
      <%= confirmation_message %>
      <% if additional_content.present? %>
        <%= additional_content %>
      <% end %>
    </div>
    <%= footer %>
  <% end %>
</dialog-helper>
