<%= render Primer::BaseComponent.new(**@system_arguments) do %>
  <%= render Primer::BaseComponent.new(tag: :div, classes: "ActionBar-item-container", "data-target": "action-bar.itemContainer") do %>
    <% items.each do |item| %>
      <%= item %>
    <% end %>
  <% end %>
  <%# Replace with ActionMenu %>
  <%= render Primer::BaseComponent.new(tag: :"action-menu", "data-anchor-align": "end", "data-target": "action-bar.moreMenu", hidden: true, classes: "ActionBar-more-menu") do %>
    <%= render Primer::Beta::IconButton.new(size: @size, scheme: :invisible, icon: :"kebab-horizontal", "aria-label": "Menu", "aria-haspopup": true, "aria-expanded": false, "aria-controls": "#{@menu_id}-list", id: @menu_id) %>
    <div class="Overlay-backdrop--anchor" data-menu-overlay>
      <div class="Overlay Overlay-whenNarrow Overlay--height-auto Overlay--width-auto" hidden>
        <div class="Overlay-body Overlay-body--paddingNone">
          <ul class="ActionList" id="<%= @menu_id %>-list" role="menu" aria-labelledby="<%= @menu_id %>-text">
            <% items.each do |item| %>
              <% if item.slot_type?(:divider) %>
                <li class="ActionList-sectionDivider" role="presentation" aria-hidden data-targets="action-bar.menuItems" hidden></li>
              <% else %>
                <%= render(Primer::BaseComponent.new(tag: :li, role: :none, classes: "ActionList-item", "data-targets": "action-bar.menuItems", hidden: true)) do %>
                  <%= render(Primer::BaseComponent.new(**item.menu_arguments)) do %>
                    <% if item.slot_type?(:icon_button) %>
                      <%= render Primer::BaseComponent.new(tag: :span, classes: "ActionList-item-visual ActionList-item-visual--leading") do %>
                        <%= render Primer::OcticonComponent.new(icon: item.icon) %>
                      <% end %>
                    <% end %>
                    <span class="ActionList-item-label">
                      <%= item.label %>
                    </span>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
