<!DOCTYPE html>
<html>
  <head>
    <title>Demo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "primer" %>

    <%= vite_client_tag %>
    <%= vite_typescript_tag "application" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
