<!DOCTYPE html>
<html <%= color_theme_attributes(params.dig(:theme) || params.dig(:lookbook, :display, :theme)) %>>
  <head>
    <title>Component Preview</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <% if params.dig(:lookbook, :display, :primitives) == "next_major_v8" %>
      <%= stylesheet_link_tag "primitives_v8", "data-turbo-track": "reload" %>
    <% end %>
    <%= stylesheet_link_tag "primer_view_components", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "primer_view_components", type: "module", "data-turbo-track": "reload" %>
    <% if Rails.env.development? %>
      <%= javascript_include_tag "hotwire-livereload", defer: true %>
    <% end %>
  </head>

  <body>
    <div id="component-preview">
      <% if params.dig(:lookbook, :display, :theme) == "all" || params.dig(:theme) == "all" %>
        <div class="theme-wrap">
          <% color_themes.each do |theme| %>
            <div class="preview-wrap" <%= color_theme_attributes(theme) %>>
              <%= yield %>
              <div class="theme-name"><%= theme %></div>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="preview-wrap">
          <%= yield %>
        </div>
      <% end %>
    </div>
    <%= Primer::Alpha::LiveRegionAnnouncement.new %>
  </body>
</html>
