<!DOCTYPE html>
<html>
  <head>
    <title>Component Preview</title>
    <meta name="viewport" content="width=device-width">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "primer_view_components", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "primer_view_components", type: "module", "data-turbo-track": "reload" %>
    <% if Rails.env.development? %>
      <%= javascript_include_tag "hotwire-livereload", defer: true %>
    <% end %>
  </head>

  <body style="padding: 16px">
    <div style="
      margin-left: auto;
      margin-right: auto;
      position: relative;
    ">
      <%= yield %> <!-- rendered preview will be injected here -->
    </div>
  </body>
</html>
