<%= render Primer::BaseComponent.new(**@system_arguments) do %>
  <% if @header.present? %>
    <div class="dropdown-header">
      <%= @header %>
    </div>
  <% end %>

  <% if list? %>
    <ul>
      <% items.each do |item| %>
        <% if item.divider? %>
          <%= item %>
        <% else %>
          <li>
            <%= item %>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% else %>
    <% items.each do |item| %>
      <%= item %>
    <% end %>
  <% end %>
<% end %>
