<%= render(FormControl.new(input: @input, tag: :"primer-text-field")) do %>
  <%= content_tag(:div, **@field_wrap_arguments) do %>
    <%# leading spinner implies a leading visual %>
    <% if @input.leading_visual || @input.leading_spinner? %>
      <span class="FormControl-input-leadingVisualWrap">
        <%= render(Primer::Beta::Octicon.new(**@input.leading_visual, data: { target: "primer-text-field.leadingVisual" })) %>
        <% if @input.leading_spinner? %>
          <%= render(Primer::Beta::Spinner.new(size: :small, hidden: true, data: { target: "primer-text-field.leadingSpinner" })) %>
        <% end %>
      </span>
    <% end %>
    <%= render Primer::ConditionalWrapper.new(condition: @input.auto_check_src, tag: "auto-check", csrf: auto_check_authenticity_token, src: @input.auto_check_src) do %>
      <%= builder.text_field(@input.name, **@input.input_arguments) %>
    <% end %>
    <% if @input.show_clear_button? %>
      <span class="FormControl-input-trailingAction">
        <%= render(Primer::Beta::IconButton.new(size: :small, scheme: :invisible, icon: :"x-circle-fill", "aria-label": "Clear", id: @input.clear_button_id, classes: "FormControl-input-trailingActionButton", data: { action: "click:primer-text-field#clearContents" })) %>
      </span>
    <% end %>
    <% if @input.trailing_visual %>
      <div class="FormControl-input-trailingVisualWrap">
        <%= render(trailing_visual_component) %>
      </div>
    <% end %>
  <% end %>
<% end %>
