<%= render Primer::BaseComponent.new(tag: :div, container: container) do %>
  <%= render(Primer::Beta::BorderBox.new(mb: 2)) do |component| %>
    <% component.with_body(p: 0) do %>
      <%= render(Primer::Alpha::TabPanels.new(label: "With panels", mb: 0, bg: :subtle, style: "display: flex;")) do |panels_component| %>
        <% panels_component.with_tab(id: "tab-1", selected: true, style: "margin-top: -1px;margin-left: -1px;") do |t| %>
          <% t.text { "Write" } %>
          <% t.panel do %>
            <textarea class="FormControl-textarea d-block width-full" style="border-color:transparent;"></textarea>
          <% end %>
        <% end %>
        <% panels_component.with_tab(id: "tab-2", style: "margin-top: -1px;margin-left: -1px;") do |t| %>
          <% t.text { "Preview" } %>
          <% t.panel do %>
            <div class="p-3">
              Markdown preview
            </div>
          <% end %>
        <% end %>
        <% panels_component.with_extra(align: :right) do %>
          <%= render(Primer::Experimental::ActionBar.new(ml: :auto)) do |action_bar_component| %>
            <% action_bar_component.with_item_icon_button(icon: :heading, "aria-label": "Heading") %>
            <% action_bar_component.with_item_icon_button(icon: :bold, "aria-label": "Bold") %>
            <% action_bar_component.with_item_icon_button(icon: :italic, "aria-label": "Italic") %>
            <% action_bar_component.with_item_icon_button(icon: :quote, "aria-label": "Quote") %>
            <% action_bar_component.with_item_icon_button(icon: :code, "aria-label": "Code") %>
            <% action_bar_component.with_item_icon_button(icon: :link, "aria-label": "Link") %>
            <% action_bar_component.with_item_divider %>
            <% action_bar_component.with_item_icon_button(icon: :"list-ordered", "aria-label": "List ordered") %>
            <% action_bar_component.with_item_icon_button(icon: :"list-unordered", "aria-label": "List unordered") %>
            <% action_bar_component.with_item_icon_button(icon: :tasklist, "aria-label": "Tasklist") %>
            <% action_bar_component.with_item_divider %>
            <% action_bar_component.with_item_icon_button(icon: :mention, "aria-label": "Mention") %>
            <% action_bar_component.with_item_icon_button(icon: :"cross-reference", "aria-label": "Reference") %>
            <% action_bar_component.with_item_icon_button(icon: :reply, "aria-label": "Reply") %>
            <% action_bar_component.with_item_icon_button(icon: :"diff-ignored", "aria-label": "Slash command") %>
            <% action_bar_component.with_item_icon_button(icon: :paperclip, "aria-label": "Attach Image") %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <%= render(Primer::ButtonComponent.new(scheme: :primary,float: :right, ml: 2)) { "Comment" } %>
  <%= render(Primer::ButtonComponent.new(float: :right)) { "Close" } %>
<% end %>
