<%= render(Primer::Alpha::Dialog.new(id: "my-dialog", title: title, subtitle: subtitle)) do |d| %>
  <% d.with_show_button { button_text } %>
  <form class="pt-3">
    <%= render(Primer::Alpha::Dialog::Body.new) do %>
      This is a custom dialog with the body and footer wrapped in a form tag.
    <% end %>
    <%= render(Primer::Alpha::Dialog::Footer.new(show_divider: show_divider)) do %>
      <%= render(Primer::Beta::Button.new(
          scheme: :invisible,
          size: :medium,
          id: "my-dialog"
      )) do %>
        Cancel
      <% end %>
      <%= render(Primer::Beta::Button.new(scheme: :primary)) do %>Areallyreallyreallylongsubmitbutton<% end %>
    <% end %>
  </form>
<% end %>
