<div class="FormControl-checkbox-wrap">
  <% if @input.scheme == :array %>
    <%= builder.check_box(@input.name, @input.input_arguments, checked_value, nil) %>
  <% else %>
    <%= builder.check_box(@input.name, @input.input_arguments) %>
  <% end %>
  <span class="FormControl-checkbox-labelWrap">
    <%= builder.label(@input.name, **@input.label_arguments) do %>
      <%= @input.label %>
    <% end %>
    <%= render(Caption.new(input: @input)) %>
  </span>
</div>
