<% if @input.form_control? %>
  <%= content_tag(@tag, **@form_group_arguments) do %>
    <% if @input.label %>
      <%= builder.label(@input.name, **@input.label_arguments) do %>
        <%= @input.label %>
        <% if @input.required? %>
          <span aria-hidden="true">*</span>
        <% end %>
      <% end %>
    <% end %>
    <%= content %>
    <%= render(ValidationMessage.new(input: @input)) %>
    <%= render(Caption.new(input: @input)) %>
  <% end %>
<% else %>
  <%= content %>
<% end %>
