<% if @input.form_control? %>
  <%= content_tag(@tag, **@form_group_arguments) do %>
    <% if @input.label %>
      <%= builder.label(@input.name, **@input.label_arguments) do %>
        <%= @input.label %>
        <% if @input.required? %>
          <span aria-hidden="true">*</span>
        <% end %>
      <% end %>
    <% end %>
    <%= content %>
    <%= content_tag(:div, **@input.validation_arguments) do %>
      <span class="FormControl-inlineValidation--visual"><%= render(Primer::Beta::Octicon.new(icon: :"alert-fill", size: :xsmall, aria: { hidden: true })) %></span>
      <%= content_tag(:span, @input.invalid? ? @input.validation_messages.first : "", **@input.validation_message_arguments) %>
    <% end %>
    <%= render(Caption.new(input: @input)) %>
  <% end %>
<% else %>
  <%= content %>
<% end %>
