<%= content_tag(:div, class: "FormControl-radio-wrap", hidden: @input.hidden?) do %>
  <%= builder.radio_button(@input.name, @input.value, **@input.input_arguments) %>
  <span class="FormControl-radio-labelWrap">
    <%= builder.label(@input.name, value: @input.value, **@input.label_arguments) do %>
      <%= @input.label %>
    <% end %>
    <% if @input.form_control? %>
      <%= render(Caption.new(input: @input)) %>
    <% end %>
  </span>
<% end %>
<% if @input.nested_form_block %>
  <%= content_tag(:div, nested_form_arguments) do %>
    <%= render(@input.nested_form_block.call(builder)) %>
  <% end %>
<% end %>
