<div class="FormControl-radio-group-wrap">
  <%= content_tag(:fieldset, **@input.input_arguments) do %>
    <% if @input.label %>
      <%= content_tag(:legend, **@input.label_arguments) do %>
        <%= @input.label %>
      <% end %>
    <% end %>
    <%= render(SpacingWrapper.new) do %>
      <% @input.radio_buttons.each do |radio_button| %>
        <%= render(radio_button.to_component) %>
      <% end %>
    <% end %>
  <% end %>
  <div class="mt-2">
    <%= render(ValidationMessage.new(input: @input)) %>
  </div>
  <div class="mt-2">
    <%= render(Caption.new(input: @input)) %>
  </div>
</div>
