<%= content_tag(:div, **@input.input_arguments) do %>
  <fieldset>
    <% if @input.label %>
      <%= content_tag(:legend, **@input.label_arguments) do %>
        <%= @input.label %>
      <% end %>
    <% end %>
    <%= render(SpacingWrapper.new) do %>
      <% @input.radio_buttons.each do |radio_button| %>
        <%= render(radio_button.to_component) %>
      <% end %>
    <% end %>
  </fieldset>
  <div class="mt-2">
    <%= render(Caption.new(input: @input)) %>
  </div>
<% end %>
