<%= render(FormControl.new(input: @input)) do %>
  <% if @input.leading_visual || @input.show_clear_button? %>
    <%= content_tag(:div, **@field_wrap_arguments) do %>
      <% if @input.leading_visual %>
        <span class="FormControl-input-leadingVisualWrap">
          <%= render(Primer::Beta::Octicon.new(**@input.leading_visual)) %>
        </span>
      <% end %>
      <%= builder.text_field(@input.name, **@input.input_arguments) %>
      <% if @input.show_clear_button? %>
        <button id="<%= @input.clear_button_id %>" class="FormControl-input-trailingAction" aria-label="Clear">
          <%= render(Primer::Beta::Octicon.new(icon: :"x-circle-fill")) %>
        </button>
      <% end %>
    <% end %>
  <% else %>
    <%= builder.text_field(@input.name, **@input.input_arguments) %>
  <% end %>
<% end %>
