<%= render Primer::ConditionalWrapper.new(condition: @input.auto_check_src, tag: "text-field") do %>
  <%= render(FormControl.new(input: @input)) do %>
    <%= render Primer::ConditionalWrapper.new(tag: :div, class: @input.field_wrap_classes, condition: @input.leading_visual || @input.show_clear_button?) do %>
      <% if @input.leading_visual %>
        <span class="FormControl-input-leadingVisualWrap">
          <%= render(Primer::OcticonComponent.new(**@input.leading_visual)) %>
        </span>
      <% end %>
      <%= render Primer::ConditionalWrapper.new(condition: @input.auto_check_src, tag: "auto-check", csrf: "hello", src: @input.auto_check_src) do %>
        <%= builder.text_field(@input.name, **@input.input_arguments) %>
      <% end %>
      <% if @input.show_clear_button? %>
        <button id="<%= @input.clear_button_id %>" class="FormControl-input-trailingAction" aria-label="Clear">
          <%= render(Primer::OcticonComponent.new(icon: :"x-circle-fill")) %>
        </button>
      <% end %>
    <% end %>
  <% end %>
<% end %>
