<%= content_tag("toggle-switch-input", **@form_group_arguments) do %>
  <span style="flex-grow: 1">
    <%= builder.label(@input.name, **@input.label_arguments) do %>
      <%= @input.label %>
    <% end %>

    <%= content_tag(:div, data: { target: "toggle-switch-input.validationElement" }, **@input.validation_arguments) do %>
      <%= content_tag(:span, @input.validation_messages.first, data: { target: "toggle-switch-input.validationMessageElement" }, **@input.validation_message_arguments) %>
    <% end %>

    <div><%= render(Caption.new(input: @input)) %></div>
  </span>
  <%
    csrf = @input.csrf || @view_context.form_authenticity_token(
      form_options: {
        method: :post,
        action: @input.src
      }
    )
  %>
  <%= render(Primer::Alpha::ToggleSwitch.new(src: @input.src, csrf: csrf)) %>
<% end %>
