<%= content_tag(:div, **@form_group_arguments) do %>
  <span style="flex-grow: 1">
    <%= builder.label(@input.name, **@input.label_arguments) do %>
      <%= @input.label %>
    <% end %>
    <%= render(Caption.new(input: @input)) %>
  </span>
  <%
    csrf = @input.csrf || @view_context.form_authenticity_token(
      form_options: {
        method: :post,
        action: @input.src
      }
    )
  %>
  <%= render(Primer::Alpha::ToggleSwitch.new(src: @input.src, csrf: csrf)) %>
<% end %>
