<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%= render Primer::BaseComponent.new(**@system_arguments) do %>
  <% if spinner.present? %>
    <%= spinner %>
  <% elsif icon.present? %>
    <%= icon %>
  <% elsif image.present? %>
    <%= image %>
  <% end %>

  <%= title %>
  <%= description %>

  <%= content %>

  <% if @button_text.present? && @button_url.present? %>
    <a class="btn <%= @button_classes %>" href="<%= @button_url %>"><%= @button_text %></a>
  <% end %>

  <% if @link_text.present? && @link_url.present? %>
    <p>
      <%= link_to "#{@link_url}" do %><%= @link_text %><% end %>
    </p>
  <% end %>
<% end %>
