<%= wrapper do %>
  <%= render Primer::BaseComponent.new(**@system_arguments) do %>
    <%= visual %>

    <%= heading %>
    <%= description %>

    <%= primary_action %>
    <% if secondary_action.present? %>
      <div class="mt-3">
        <%= secondary_action %>
      </div>
    <% end %>
  <% end %>
<% end %>
