<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%= render Primer::BaseComponent.new(**@system_arguments) do %>
  <% if spinner.present? %>
    <%= spinner %>
  <% elsif icon.present? %>
    <%= icon %>
  <% elsif image.present? %>
    <%= image %>
  <% end %>

  <%= title %>
  <%= description %>

  <%= content %>

  <%= button %>
  <% if link.present? %>
    <p>
      <%= link %>
    </p>
  <% end %>
<% end %>
