<%= wrapper do %>
  <%= render Primer::BaseComponent.new(**@system_arguments) do %>
    <%= graphic %>

    <%= title %>
    <%= description %>

    <%= button %>
    <% if link.present? %>
      <p>
        <%= link %>
      </p>
    <% end %>
  <% end %>
<% end %>
