<%= wrapper do %>
  <%= render Primer::BaseComponent.new(**@system_arguments) do %>
    <%= graphic %>

    <%= heading %>
    <%= description %>

    <%= primary_action %>
    <% if secondary_action.present? %>
      <p>
        <%= secondary_action %>
      </p>
    <% end %>
  <% end %>
<% end %>
