<%= render @base_button_class.new(**@system_arguments) do -%>
  <span class="<%= @align_content_classes %>">
    <% if leading_visual %>
      <span class="Button-visual Button-leadingVisual">
        <%= leading_visual %>
      </span>
    <% end %>
    <span class="Button-label"><%= trimmed_content %></span>
    <% if trailing_visual %>
      <span class="Button-visual Button-trailingVisual">
        <% if @trailing_visual_counter %>
          <span class="sr-only">(<%= trailing_visual %>)</span>
          <span aria-hidden="true"><%= trailing_visual %></span>
        <% else %>
          <%= trailing_visual %>
        <% end %>
      </span>
    <% end %>
  </span>
  <% if trailing_action %>
    <span class="Button-visual Button-trailingAction">
      <%= trailing_action %>
    </span>
  <% end %>
<% end -%>
<%= tooltip %>
