<%= render Primer::ConditionalWrapper.new(condition: tooltip?, tag: :span, position: :relative) do %>
  <%= render(Primer::BaseComponent.new(**@system_arguments)) do -%>
    <% if leading_visual %>
      <span class="Link-visual Link-leadingVisual">
        <%= leading_visual %>
      </span>
    <% end %>
    <%= trimmed_content -%>
    <% if trailing_visual %>
      <span class="Link-visual Link-trailingVisual">
        <%= trailing_visual %>
      </span>
    <% end %>
  <% end -%>
  <%= tooltip %>
<% end %>
