<%= render Primer::ConditionalWrapper.new(condition: tooltip?, trim: true, tag: :span, position: :relative) do %>
  <%= render(Primer::BaseComponent.new(trim: true, **@system_arguments)) do %>
    <% if leading_visual %>
      <span>
        <%= leading_visual %>
      </span>
    <% end %>
    <%= content %>
    <% if trailing_visual %>
      <span>
        <%= trailing_visual %>
      </span>
    <% end %>
  <% end %>
  <%= tooltip if tooltip? %>
<% end %>
