<% link_content = capture do %>
  <%= render(Primer::BaseComponent.new(**@system_arguments)) do -%>
    <% if leading_visual %>
      <span class="Link-visual Link-leadingVisual">
        <%= leading_visual %>
      </span>
    <% end %>
    <%= trimmed_content -%>
    <% if trailing_visual %>
      <span class="Link-visual Link-trailingVisual">
        <%= trailing_visual %>
      </span>
    <% end %>
  <% end -%>
<% end %>

<% if tooltip.present? %>
  <%= render Primer::BaseComponent.new(tag: :span, position: :relative) do %>
    <%= link_content %>
    <%= tooltip %>
  <% end %>
<% else %>
  <%= link_content %>
<% end %>
