<%= render Primer::BaseComponent.new(**@system_arguments) do %>
  <label for="<%= @input_id %>" class="<%= @label_classes %>">
    <% if @is_label_visible %>
      <%= @label_text %>
    <% else %>
      <span class="sr-only"><%= @label_text %></span>
    <% end %>
  </label>
  <span class="autocomplete-body">
    <% if @with_icon %>
      <div class="form-control autocomplete-embedded-icon-wrap">
        <%= render Primer::Beta::Octicon.new(:search) %>
    <% end %>
    <%= input %>
    <% if @is_clearable %>
      <button id="<%= @input_id %>-clear" class="btn-octicon" aria-label="Clear"><%= primer_octicon "x" %></button>
    <% end %>
    <% if @with_icon %>
      </div>
    <% end %>
    <%= results %>
  </span>
  <div id="<%= @list_id %>-feedback" class="sr-only"></div>
<% end %>
