<%= render Primer::BaseComponent.new(**@system_arguments) do %>
  <%= trigger %>
  <div class="Overlay-backdrop--anchor" data-menu-overlay>
    <div class="Overlay Overlay-whenNarrow Overlay--size-small-portrait" hidden>
      <div class="Overlay-body Overlay-body--paddingNone">
        <ul class="ActionListWrap--inset" id="<%= @menu_id %>-list" role="menu" aria-labelledby="<%= @menu_id %>-text">
          <% if @src.present? %>
            <include-fragment src="<%= @src %>" loading="lazy" data-target="action-menu.includeFragment">
              <li
                class="ActionListItem d-flex flex-items-center flex-justify-center text-center"
                data-target="action-menu.includeFragmentLoadingItem"
                aria-disabled="true"
              >
              <%= render Primer::Beta::Spinner.new(m: 2, aria: { label: "Loading content..." }) %>
              </li>
            </include-fragment>
          <% else %>
            <% items.each do |item| %>
              <%= item %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
