<%= render Primer::BaseComponent.new(**@system_arguments) do %>
  <focus-group direction="vertical" mnemonics retain>
    <%= render(@overlay) do |overlay| %>
      <% if @src.present? %>
        <include-fragment src="<%= @src %>" loading="<%= preload? ? "eager" : "lazy" %>" data-target="action-menu.includeFragment">
          <div
            class="ActionListItem d-flex flex-items-center flex-justify-center text-center"
            autofocus
            aria-disabled="true">
            <%= render Primer::Beta::Spinner.new(m: 2, aria: { label: "Loading content..." }) %>
          </div>
        </include-fragment>
      <% else %>
        <%= render(@list) %>
      <% end %>
    <% end %>
  </focus-group>
<% end %>
