<%= render(Primer::BaseComponent.new(**@wrapper_arguments)) do %>
  <%= render(Primer::BaseComponent.new(**@system_arguments)) do %>
    <% if @icon %>
      <div class="Banner-visual">
        <%= render(Primer::Beta::Octicon.new(icon: @icon)) %>
      </div>
    <% end %>
    <%= render(Primer::BaseComponent.new(**@message_arguments)) do %>
      <p class="Banner-title" data-target="<%= catalyst_target(field: "titleText") %>"><%= content %></p>
      <% if @description %>
        <p><%= @description %></p>
      <% end %>
    <% end %>
    <% if action %>
      <div class="flash-action Banner-actions">
        <%= action %>
      </div>
    <% end %>
    <% if @dismiss_scheme != :none %>
      <div class="flash-close Banner-close">
        <%= render(
          Primer::Beta::IconButton.new(
            scheme: :invisible,
            icon: :x,
            aria: { label: @dismiss_label },
            data: { action: catalyst_action(event: "click", function: "dismiss") },
            autofocus: true
          )
        ) %>
      </div>
    <% end %>
  <% end %>
<% end %>
