<%= render Primer::BaseComponent.new(**@system_arguments, classes: @form_group_classes ) do %>
    <%= render Primer::BaseComponent.new(
        tag: :input,
        placeholder: @placeholder,
        id: @input_id,
        name: @input_name,
        disabled: @disabled,
        type: "checkbox",
        classes: @form_control_classes) do %>
    <% end %>
    <label for="<%= @input_id %>" class="FormControl-label <%= @visually_hide_label %>">
        <%= @label_text %>
        <% if @caption %>
            <p class="FormControl-label--caption" id="<%= @caption_id %>"><%= @caption %></p>
        <% end %>
    </label>
<% end %>
