<%= show_button %>
<div class="Overlay--hidden <%= @backdrop_classes %>" data-modal-dialog-overlay>
  <%= render Primer::BaseComponent.new(**@system_arguments) do %>
    <%= header %>
    <% if content.present? %>
      <%= content %>
    <% else %>
      <scrollable-region data-labelled-by="<%= labelledby %>">
        <%= body %>
      </scrollable-region>
      <%= footer %>
    <% end %>
  <% end %>
</div>
