<%= render Primer::BaseComponent.new(**@system_arguments) do %>
  <header>
    <h1><%= @title %></h1>
    <% if @description.present? %>
      <h2><%= @description %></h2>
    <% end %>
    <%= render Primer::CloseButton.new() %>
    <button type="button" aria-label="Close">
      <%= primer_octicon "x" %>
    </button>
  </header>
  <%= content %>
  <footer>
    <% buttons.each do |button| %>
      <%= button %>
    <% end %>
  </footer>
<% end %>
