<%= render Primer::BaseComponent.new(**@system_arguments) do %>
  <div class="d-block d-md-none flex-auto">
    <button data-md-button tabindex="-1" type="button" aria-label="Toggle text tools" aria-expanded="false" class="js-details-target btn-link toolbar-item no-underline py-2 mr-1">
      <%= primer_octicon(:typography) %>
      <%= primer_octicon(:"chevron-up", classes: "Details-content--shown") %>
      <%= primer_octicon(:"chevron-down", classes: "Details-content--hidden") %>
    </button>
  </div>

  <%= prepend_buttons %>
  <div class="flex-nowrap d-none d-md-inline-block mr-md-0 mr-3">
    <md-header tabindex="-1" class="toolbar-item tooltipped tooltipped-sw mx-1" aria-label="<%= label(:header) %>" data-ga-click="Markdown Toolbar, click, header">
      <%= render Primer::OcticonComponent.new(icon: "heading") %>
    </md-header>

    <md-bold tabindex="-1" class="toolbar-item tooltipped tooltipped-sw mx-1 js-modifier-label-key" data-hotkey-scope="<%= textarea_id %>" data-hotkey="<%= hotkey(:bold) %>" aria-label="<%= label(:bold) %>"  data-ga-click="Markdown Toolbar, click, bold">
      <%= render Primer::OcticonComponent.new(icon: "bold") %>
    </md-bold>

    <md-italic tabindex="-1" class="toolbar-item tooltipped tooltipped-sw mx-1 js-modifier-label-key" data-hotkey-scope="<%= textarea_id %>" data-hotkey="<%= hotkey(:italic) %>"  aria-label="<%= label(:italic) %>" data-ga-click="Markdown Toolbar, click, italic">
      <%= render Primer::OcticonComponent.new(icon: "italic") %>
    </md-italic>
  </div>

  <div class="d-flex d-md-inline-block mr-0">
    <md-quote tabindex="-1" class="toolbar-item tooltipped tooltipped-sw js-modifier-label-key p-2 p-md-1 mx-1" data-hotkey-scope="<%= textarea_id %>" data-hotkey="<%= hotkey(:quote) %>"   aria-label="<%= label(:quote) %>" data-ga-click="Markdown Toolbar, click, quote">
      <%= render Primer::OcticonComponent.new(icon: "quote") %>
    </md-quote>

    <md-code tabindex="-1" class="toolbar-item tooltipped tooltipped-sw js-modifier-label-key p-2 p-md-1 mx-1" data-hotkey-scope="<%= textarea_id %>" data-hotkey="<%= hotkey(:code) %>"  aria-label="<%= label(:code) %>" data-ga-click="Markdown Toolbar, click, code">
      <%= render Primer::OcticonComponent.new(icon: "code") %>
    </md-code>

    <button type="button" data-md-button tabindex="-1" class="toolbar-item text-center menu-target p-2 mx-1 d-md-none js-markdown-link-button" aria-label="Add a link" data-ga-click="Markdown Toolbar, click, saved reply">
      <%= render Primer::OcticonComponent.new(icon: "link") %>
    </button>

    <template class="js-markdown-link-dialog">
      <div class="Box-header">
        <h3 class="Box-title">Insert Link</h3>
      </div>
      <div class="Box-body overflow-auto">
        <div>
          <label class="d-block mb-1" for="js-dialog-link-text">Link Text</label>
          <input type="text" class="mb-3 form-control input-block" id="js-dialog-link-text" autofocus>
        </div>
        <div>
          <label class="d-block mb-1" for="js-dialog-link-href">URL</label>
          <input type="url" class="mb-3 form-control input-block" id="js-dialog-link-href">
        </div>
        <div class="pt-3 border-top">
          <%= render Primer::ButtonComponent.new(scheme: :primary, block: true, classes: "js-markdown-link-insert", "data-close-dialog": "", "data-for-textarea": textarea_id) do %>
            Add
          <% end %>
        </div>
      </div>
    </template>

    <md-link tabindex="-1" class="toolbar-item tooltipped tooltipped-sw p-2 p-md-1 d-none d-md-block mx-1 js-modifier-label-key" data-hotkey-scope="<%= textarea_id %>" data-hotkey="<%= hotkey(:link) %>" aria-label="<%= label(:link) %>" data-ga-click="Markdown Toolbar, click, link">
      <%= render Primer::OcticonComponent.new(icon: "link") %>
    </md-link>
  </div>

  <div class="d-none d-md-inline-block <% if append_buttons.present? %>mr-3<% end %>">
    <md-unordered-list tabindex="-1" class="toolbar-item tooltipped tooltipped-sw mx-1 js-modifier-label-key" data-hotkey-scope="<%= textarea_id %>" data-hotkey="<%= hotkey(:unordered_list) %>" aria-label="<%= label(:unordered_list) %>" data-ga-click="Markdown Toolbar, click, unordered list">
      <%= render Primer::OcticonComponent.new(icon: "list-unordered") %>
    </md-unordered-list>

    <md-ordered-list tabindex="-1" class="toolbar-item tooltipped tooltipped-sw mx-1 js-modifier-label-key" data-hotkey-scope="<%= textarea_id %>" data-hotkey="<%= hotkey(:ordered_list) %>" aria-label="<%= label(:ordered_list) %>" data-ga-click="Markdown Toolbar, click, ordered list">
      <%= render Primer::OcticonComponent.new(icon: "list-ordered") %>
    </md-ordered-list>

    <md-task-list tabindex="-1" class="toolbar-item tooltipped tooltipped-sw mx-1 js-modifier-label-key" data-hotkey-scope="<%= textarea_id %>" data-hotkey="<%= hotkey(:task_list) %>" aria-label="<%= label(:task_list) %>" data-ga-click="Markdown Toolbar, click, task list">
      <%= render Primer::OcticonComponent.new(icon: "tasklist") %>
    </md-task-list>
  </div>

  <%= append_buttons %>

  <div class="Details-content--hidden d-block d-md-none width-full">
    <md-header tabindex="-1" class="toolbar-item tooltipped tooltipped-sw py-2 pr-2 pl-1 mr-1" aria-label="<%= label(:header) %>" data-ga-click="Markdown Toolbar, click, header">
      <%= render Primer::OcticonComponent.new(icon: "heading") %>
    </md-header>

    <md-bold tabindex="-1" class="toolbar-item tooltipped tooltipped-sw p-2 mx-1 js-modifier-label-key" data-hotkey-scope="<%= textarea_id %>" data-hotkey="<%= hotkey(:bold) %>" aria-label="<%= label(:bold) %>" data-ga-click="Markdown Toolbar, click, bold">
      <%= render Primer::OcticonComponent.new(icon: "bold") %>
    </md-bold>

    <md-italic tabindex="-1" class="toolbar-item tooltipped tooltipped-sw p-2 mx-1 js-modifier-label-key" data-hotkey-scope="<%= textarea_id %>" data-hotkey="<%= hotkey(:italic) %>" aria-label="<%= label(:italic) %>" data-ga-click="Markdown Toolbar, click, italic">
      <%= render Primer::OcticonComponent.new(icon: "italic") %>
    </md-italic>

    <md-unordered-list tabindex="-1" class="toolbar-item tooltipped tooltipped-sw p-2 mx-1 js-modifier-label-key" data-hotkey-scope="<%= textarea_id %>" data-hotkey="<%= hotkey(:unordered_list) %>" aria-label="<%= label(:unordered_list) %>" data-ga-click="Markdown Toolbar, click, unordered list">
      <%= render Primer::OcticonComponent.new(icon: "list-unordered") %>
    </md-unordered-list>

    <md-ordered-list tabindex="-1" class="toolbar-item tooltipped tooltipped-sw p-2 mx-1 js-modifier-label-key" data-hotkey-scope="<%= textarea_id %>" data-hotkey="<%= hotkey(:ordered_list) %>" aria-label="<%= label(:ordered_list) %>" data-ga-click="Markdown Toolbar, click, ordered list">
      <%= render Primer::OcticonComponent.new(icon: "list-ordered") %>
    </md-ordered-list>

    <md-task-list tabindex="-1" class="toolbar-item tooltipped tooltipped-sw p-2 mx-1 js-modifier-label-key" data-hotkey-scope="<%= textarea_id %>" data-hotkey="<%= hotkey(:task_list) %>" aria-label="<%= label(:task_list) %>" data-ga-click="Markdown Toolbar, click, task list">
      <%= render Primer::OcticonComponent.new(icon: "tasklist") %>
    </md-task-list>
  </div>
<% end %>

