<%= render Primer::BaseComponent.new(**@system_arguments, classes: @form_group_classes ) do %>
    <label for="<%= @input_id %>" class="FormControl-label <%= @visually_hide_label %>">
        <%= @label_text %>
        <% if @hint_text %>
            <p class="FormControl-label--hint"><%= @hint_text %></p>
        <% end %>
    </label>
    <%= render Primer::BaseComponent.new(tag: :select, placeholder: @placeholder, id: @input_id, name: @input_name, disabled: @disabled, invalid: @invalid, classes: @form_control_classes) do %>
        <%= option %>
    <% end %>
<% end %>
