<%= render Primer::BaseComponent.new(**@system_arguments, classes: @form_group_classes ) do %>
    <label for="<%= @input_id %>" class="FormControl-label <%= @visually_hide_label %>">
        <%= @label_text %>
    </label>
    <div class="<%= @field_wrap_classes %>">
        <%= render Primer::BaseComponent.new(tag: :select, placeholder: @placeholder, id: @input_id, name: @input_name, disabled: @disabled, invalid: @invalid, classes: @form_control_classes) do %>
            <%= option %>
        <% end %>
    </div>
    <% if @caption %>
        <p class="FormControl-caption" id="<%= @caption_id %>"><%= @caption %></p>
    <% end %>
<% end %>
