<%= renderTrigger %>
<anchored-overlay class="Overlay-backdrop Overlay--visibilityHidden <%= @backdrop_classes %>">
  <%= render Primer::BaseComponent.new(**@system_arguments) do %>
    <% if @title.present? %>
    <header class="Overlay-header <%= @header_classes %>">
        <div class="Overlay-headerContentWrap">
            <div class="Overlay-titleWrap">
                <h1 id="<%= @header_id %>" class="Overlay-title"><%= @title %></h1>
                <% if @description.present? %>
                    <h2 id="<%= @description_id %>" class="Overlay-description"><%= @description %></h2>
                <% end %>
            </div>
            <% if @show_close_button %>
                <div class="Overlay-actionWrap">
                    <%= render Primer::CloseButton.new(classes: "Overlay-closeButton", "data-close-overlay-id": @system_arguments[:id]) %>
                </div>
            <% end %>
        </div>
    </header>
    <% end %>
    <div class="Overlay-body <%= @body_classes %>"><%= body %></div>
    <% if footer_buttons.any? %>
    <footer class="Overlay-footer <%= @footer_classes %>">
        <% footer_buttons.each do |button| %>
        <%= button %>
        <% end %>
    </footer>
    <% end %>
  <% end %>
</anchored-overlay>
