<%= render Primer::BaseComponent.new(**@system_arguments) do %>
  <% if required_form_arguments_given? %>
    <span data-select-panel-inputs="true">
        <%= @form_builder.hidden_field(@input_name, multiple: multi_select?, skip_default_ids: true, value: @value) %>
    </span>
  <% end %>
  <dialog-helper>
    <%= show_button %>
    <%= render(@dialog) do %>
      <%= render Primer::Alpha::Dialog::Header.new(id: "#{@panel_id}-dialog", title: @title, show_divider: show_filter?) do |header| %>
        <% if subtitle? %>
          <% header.with_subtitle do %>
            <%= subtitle %>
          <% end %>
        <% end %>
        <% if show_filter? %>
          <% header.with_filter do %>
            <div data-target="select-panel.bannerErrorElement" hidden>
              <%= render Primer::Alpha::Banner.new(scheme: @banner_scheme, mb: 2) do %>
                <% if error_content? %>
                  <%= error_content %>
                <% else %>
                  <h2 class="f6 text-normal">Sorry, something went wrong.</h2>
                <% end %>
              <% end %>
            </div>
            <%= render(Primer::BaseComponent.new(
              tag: :"remote-input",
              aria: { owns: @body_id },
              **(@fetch_strategy == :remote ? { src: @src } : {}),
              data: {
                target: "select-panel.remoteInput"
              }
            )) do %>
              <%= render(Primer::Alpha::TextField.new(
                id: "#{@panel_id}-filter",
                name: :filter,
                label: "Filter",
                type: :search,
                leading_visual: { icon: :search },
                leading_spinner: true,
                autofocus: true,
                visually_hide_label: true,
                data: { target: "select-panel.filterInputTextField" },
                label_arguments: {
                  position: :absolute
                }
              )) %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <%= render Primer::Alpha::Dialog::Body.new(mt: show_filter? ? 0 : 2, p: 0) do %>
        <focus-group direction="vertical" mnemonics retain>
          <live-region data-target="select-panel.liveRegion"></live-region>
          <%= render(Primer::BaseComponent.new(
            tag: :div,
            data: {
              fetch_strategy: @fetch_strategy,
              target: "select-panel.list"
            }
          )) do %>
            <div id="<%= @body_id %>">
              <% if @src.present? %>
                <%= render(Primer::ConditionalWrapper.new(condition: @fetch_strategy == :eventually_local, component: Primer::Alpha::IncludeFragment, data: { target: "select-panel.includeFragment" }, src: @src, loading: preload? ? "eager" : "lazy", accept: "text/fragment+html")) do %>
                  <%= render(Primer::BaseComponent.new(
                    tag: :div,
                    id: "#{@panel_id}-list",
                    mt: 2,
                    mb: 2,
                    aria: { disabled: true, busy: true },
                    display: :flex,
                    align_items: :flex_start,
                    justify_content: :center,
                    text_align: :center,
                    classes: "SelectPanel-loadingPanel"
                  )) do %>
                    <div data-hide-on-error class="pt-2">
                      <%= render Primer::Beta::Spinner.new(aria: { label: @loading_label, describedby: @loading_description_id }, data: { target: "select-panel.bodySpinner" }) %>
                      <% if @loading_description.present? %>
                        <div id="<%= @loading_description_id %>" aria-hidden="true"><%= @loading_description %></div>
                      <% end %>
                    </div>
                    <div data-show-on-error hidden data-target="select-panel.fragmentErrorElement">
                      <% if preload_error_content? %>
                        <%= preload_error_content %>
                      <% else %>
                        <div class="pt-2 pb-2">
                          <%= render Primer::Beta::Octicon.new(icon: :alert, color: :danger) %>
                          <h2 class="f5 mt-2">Sorry, something went wrong.</h2>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
              <% else %>
                <%= render(@list) %>
              <% end %>
            </div>
            <div data-target="select-panel.noResults" class="pt-2 color-border-muted text-center d-flex flex-items-start flex-justify-center SelectPanel-emptyPanel" hidden>
              <h2 class="v-align-middle m-3 f5"><%= @no_results_label %></h2>
            </div>
          <% end %>
        </focus-group>
      <% end %>
      <%= footer %>
    <% end %>
  </dialog-helper>
<% end %>
