<%= render Primer::BaseComponent.new(**@system_arguments) do %>
  <dialog-helper>
    <%= show_button %>
    <%= render(@dialog) do %>
      <%= render Primer::Alpha::Dialog::Header.new(id: "#{@panel_id}-dialog", title: @title, show_divider: show_filter?) do |header| %>
        <% if subtitle? %>
          <% header.with_subtitle do %>
            <%= subtitle %>
          <% end %>
        <% end %>
        <% if show_filter? %>
          <% header.with_filter do %>
            <% unless banner_error_message? %>
              <% with_banner_error_message { "Sorry, something went wrong." } %>
            <% end %>
            <%= banner_error_message %>
            <%= render(Primer::BaseComponent.new(
              tag: :"remote-input",
              aria: { owns: @body_id },
              **(@fetch_strategy == :remote ? { src: @src } : {}),
              data: {
                target: "select-panel.remoteInput"
              }
            )) do %>
              <%= render(Primer::Alpha::TextField.new(
                id: "#{@panel_id}-filter",
                name: :filter,
                label: "Filter",
                type: :search,
                leading_visual: { icon: :search },
                leading_spinner: true,
                autofocus: true,
                visually_hide_label: true,
                data: { target: "select-panel.filterInputTextField" },
                label_arguments: {
                  position: :absolute
                }
              )) %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <%= render Primer::Alpha::Dialog::Body.new(mt: show_filter? ? 0 : 2, p: 0) do %>
        <focus-group direction="vertical" mnemonics retain>
          <div class="sr-only" aria-live="polite" aria-atomic="true" data-target="select-panel.ariaLiveContainer"></div>
          <%= render(Primer::BaseComponent.new(
            tag: :div,
            data: {
              fetch_strategy: @fetch_strategy,
              target: "select-panel.list"
            }
          )) do %>
            <div id="<%= @body_id %>">
              <% if @src.present? %>
                <%= render(Primer::ConditionalWrapper.new(condition: @fetch_strategy == :eventually_local, tag: "include-fragment", data: { target: "select-panel.includeFragment" }, src: @src, loading: preload? ? "eager" : "lazy", accept: "text/fragment+html")) do %>
                  <%= render(Primer::BaseComponent.new(
                    tag: :div,
                    id: "#{@panel_id}-list",
                    mt: 2,
                    mb: 2,
                    aria: { disabled: true, busy: true },
                    display: :flex,
                    align_items: :center,
                    justify_content: :center,
                    text_align: :center,
                    classes: "SelectPanel-loadingPanel"
                  )) do %>
                    <div data-hide-on-error>
                      <%= render Primer::Beta::Spinner.new(aria: { label: @loading_label, describedby: @loading_description_id }, data: { target: "select-panel.bodySpinner" }) %>
                      <% if @loading_description.present? %>
                        <div id="<%= @loading_description_id %>" aria-hidden="true"><%= @loading_description %></div>
                      <% end %>
                    </div>
                    <% unless body_error_message? %>
                      <% with_body_error_message do |message| %>
                        <% message.with_title { "Sorry, something went wrong." } %>
                        <% message.with_description { "Try again or if the problem persists, contact support." } %>
                      <% end %>
                    <% end %>
                    <%= body_error_message %>
                  <% end %>
                <% end %>
              <% else %>
                <%= render(@list) %>
              <% end %>
            </div>
            <% unless no_items_message? %>
              <% with_no_items_message do |message| %>
                <% message.with_title { "No items found." } %>
              <% end %>
            <% end %>
            <%= no_items_message %>
            <% unless no_matches_message? %>
              <% with_no_matches_message do |message| %>
                <% message.with_title { "No matches found." } %>
                <% message.with_description { "Try adjusting your search terms." } %>
              <% end %>
            <% end %>
            <%= no_matches_message %>
          <% end %>
        </focus-group>
      <% end %>
      <%= footer %>
    <% end %>
  </dialog-helper>
<% end %>
