<% unless loading_failure_message? %>
  <% with_loading_failure_message  # set the default %>
<% end %>

<%= render(Primer::BaseComponent.new(tag: :"tree-view-include-fragment", src: @src, loading: :lazy, data: { target: "tree-view-sub-tree-node.subTree tree-view-sub-tree-node.includeFragment", path: @container.path.to_json }, hidden: @container.expanded?, accept: "text/fragment+html")) do %>
  <%= render(@container) do %>
    <%= render(Primer::OpenProject::TreeView::Node.new(path: [*@container.path, :loader])) do |node| %>
      <% node.with_text_content do %>
        <div data-target="tree-view-sub-tree-node.loadingIndicator">
          <% @count.times do %>
            <span class="TreeViewSkeletonItemContainerStyle TreeViewItemSkeleton">
              <%= render(Primer::OpenProject::SkeletonBox.new(width: "16px")) %>
              <%= render(Primer::OpenProject::SkeletonBox.new(width: "100%", classes: "TreeItemSkeletonTextStyles")) %>
            </span>
          <% end %>
        </div>
        <div data-target="tree-view-sub-tree-node.loadingFailureMessage" hidden>
          <%= loading_failure_message %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
