<div style="display: flex; gap: 1rem;">
  <%= render(Primer::Beta::Button.new(
      scheme: :invisible,
      size: :medium,
  )) do |c| %>
    Button
  <% end %>
  <%= render(Primer::Beta::Button.new(
      scheme: :invisible,
      size: :medium,
  )) do |c| %>
    <% c.leading_visual_icon(icon: :search) %>
    Button
  <% end %>
  <%= render(Primer::Beta::Button.new(
      scheme: :invisible,
      size: :medium,
  )) do |c| %>
    <% c.trailing_action_icon(icon: "triangle-down") %>
    Button
  <% end %>
  <%= render(Primer::Beta::Button.new(
      scheme: :invisible,
      size: :medium,
  )) do |c| %>
    <% c.trailing_visual_counter(count: "15") %>
    Button
  <% end %>
  <%= render(Primer::Beta::Button.new(
      scheme: :invisible,
      size: :medium,
  )) do |c| %>
    <% c.leading_visual_icon(icon: :eye) %>
    <% c.trailing_visual_counter(count: "15") %>
    Button
  <% end %>
  <%= render(Primer::Beta::Button.new(
      scheme: :invisible,
      size: :medium,
  )) do |c| %>
    <% c.leading_visual_icon(icon: :eye) %>
    <% c.trailing_visual_counter(count: "15") %>
    <% c.trailing_action_icon(icon: "triangle-down") %>
    Button
  <% end %>
  <%= render(Primer::Beta::Button.new(
      scheme: :invisible,
      size: :medium,
      id: "my-id"
  )) do |c| %>
    <% c.with_tooltip(text: "Tooltip text") %>
    Button with tooltip
  <% end %>
</div>
