<div style="display: flex; gap: 1rem;">
  <%= render(Primer::Beta::Button.new(
      scheme: :invisible,
      size: :medium,
  )) do %>
    Button
  <% end %>
  <%= render(Primer::Beta::Button.new(
      scheme: :invisible,
      size: :medium,
  )) do |component| %>
    <% component.with_leading_visual_icon(icon: :search) %>
    Button
  <% end %>
  <%= render(Primer::Beta::Button.new(
      scheme: :invisible,
      size: :medium,
  )) do |component| %>
    <% component.with_trailing_action_icon(icon: "triangle-down") %>
    Button
  <% end %>
  <%= render(Primer::Beta::Button.new(
      scheme: :invisible,
      size: :medium,
  )) do |component| %>
    <% component.with_trailing_visual_counter(count: "15") %>
    Button
  <% end %>
  <%= render(Primer::Beta::Button.new(
      scheme: :invisible,
      size: :medium,
  )) do |component| %>
    <% component.with_leading_visual_icon(icon: :eye) %>
    <% component.with_trailing_visual_counter(count: "15") %>
    Button
  <% end %>
  <%= render(Primer::Beta::Button.new(
      scheme: :invisible,
      size: :medium,
  )) do |component| %>
    <% component.with_leading_visual_icon(icon: :eye) %>
    <% component.with_trailing_visual_counter(count: "15") %>
    <% component.with_trailing_action_icon(icon: "triangle-down") %>
    Button
  <% end %>
  <%= render(Primer::Beta::Button.new(
      scheme: :invisible,
      size: :medium,
      id: "my-id"
  )) do |component| %>
    <% component.with_tooltip(text: "Tooltip text") %>
    Button with tooltip
  <% end %>
</div>
