<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%= render Primer::BaseComponent.new(**@system_arguments) do %>
  <% if spinner.present? %>
    <%= spinner %>
  <% elsif @icon.present? %>
    <%= primer_octicon @icon, size: @icon_size, classes: "blankslate-icon" %>
  <% elsif @image_src.present? && @image_alt.present? %>
    <%= image_tag @image_src.to_s, class: "mb-3", size: "56x56", alt: @image_alt.to_s %>
  <% end %>
  <% if @title.present? %>
    <%= render Primer::BaseComponent.new(tag: @title_tag, mb: 1) do %><%= @title %><% end %>
  <% end %>
  <% if @description.present? %>
    <p><%= @description %></p>
  <% end %>
  <%= content %>
  <% if @button_text.present? && @button_url.present? %>
    <a class="btn <%= @button_classes %>" href="<%= @button_url %>"><%= @button_text %></a>
  <% end %>
  <% if @link_text.present? && @link_url.present? %>
    <p>
      <%= link_to @link_url.to_s do %><%= @link_text %><% end %>
    </p>
  <% end %>
<% end %>
