<%= render Primer::BaseComponent.new(**@system_arguments) do %>
  <%= render(Primer::OcticonComponent.new(icon: @icon)) if @icon %>
  <%= content %>
  <% if @dismissible %>
    <button class="flash-close js-flash-close" type="button" aria-label="Close">
      <%= render(Primer::OcticonComponent.new(icon: "x")) %>
    </button>
  <% end %>

  <% actions.each do |action| %>
    <%= action %>
  <% end %>
<% end %>
