<%= render Primer::BaseComponent.new(**@system_arguments) do %>
  <%= primer(:octicon, icon: @icon) if @icon %>
  <%= content %>
  <% if @dismissible %>
    <button class="flash-close js-flash-close" type="button" aria-label="Close">
      <%= primer(:octicon, icon: "x") %>
    </button>
  <% end %>

  <%= action %>
<% end %>
