<%= wrapper do %>
  <%= render Primer::BaseComponent.new(**@system_arguments) do %>
    <%= main %>
    <% if @with_divider %><div class="<%= @divider_classes %>"></div><% end %>
    <%= sidebar %>
  <% end %>
<% end %>
