<%= render Primer::BaseComponent.new(**@kwargs) do %>
  <% if message %>
    <%= render Primer::BaseComponent.new(**message.kwargs) do %>
      <% if heading %>
        <%= render Primer::BaseComponent.new(**heading.kwargs) do %>
          <%= heading.content %>
        <% end %>
      <% end %>
      <% if body %>
        <%= body.content %>
      <% end %>
      <% if button %>
        <%= render Primer::BaseComponent.new(**button.kwargs) do %>
          <%= button.content %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
