<%= render component do %>
  <%= render modal.wrapper_component do %>
    <% if header %>
      <%= render header.wrapper_component do %>
        <%= render header.title_component do %>
          <%= header.content %>
        <% end %>

        <% if close_button %>
          <%= render close_button.component do %>
            <%= close_button.content %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% if filter %>
      <%= render filter.wrapper_component do %>
        <%= render filter.input_component %>
        <%= filter.content %>
      <% end %>
    <% end %>

    <%= render modal.list_component do %>
      <% if modal.message.present? %>
        <%= render modal.message_component do %>
          <%= modal.message %>
        <% end %>
      <% end %>

      <% if modal.loading? %>
        <div class="SelectMenu-loading">
          <%= modal.content %>
        </div>
      <% elsif modal.blankslate? %>
        <div class="SelectMenu-blankslate">
          <%= modal.content %>
        </div>
      <% else %>
        <%= modal.content %>
      <% end %>

      <% if items.any? %>
        <% items.each do |item| %>
          <%= render item.component do %>
            <%= item.content %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% if footer %>
      <%= render footer.component do %>
        <%= footer.content %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
