<%= render component do %>
  <%= render modal_component do %>
    <% if header %>
      <%= render header.wrapper_component do %>
        <%= render header.title_component do %>
          <%= header.content %>
        <% end %>

        <% if close_button %>
          <%= render close_button.component do %>
            <%= close_button.content %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% if filter %>
      <%= render filter.wrapper_component do %>
        <%= render filter.input_component %>
        <%= filter.content %>
      <% end %>
    <% end %>

    <%= render list_component do %>
      <% if message.present? %>
        <%= render message_component do %>
          <%= message %>
        <% end %>
      <% end %>

      <% if loading? %>
        <div class="SelectMenu-loading">
          <%= content %>
        </div>
      <% elsif blankslate? %>
        <div class="SelectMenu-blankslate">
          <%= content %>
        </div>
      <% else %>
        <%= content %>
      <% end %>

      <% if items.any? %>
        <% items.each do |item| %>
          <%= render item.wrapper_component do %>
            <% if item.icon %>
              <%= render item.icon_component %>
            <% end %>

            <%= item.content %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% if footer %>
      <%= render footer.component do %>
        <%= footer.content %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
