<%= render details_component do %>
  <%= render summary.component do %>
    <%= summary.content %>
  <% end %>

  <%= render select_menu_component do %>
    <%= render modal_component do %>
      <% if header %>
        <%= render header.wrapper_component do %>
          <%= render header.title_component do %>
            <%= header.content %>
          <% end %>

          <% if header.closeable? %>
            <%= render header.close_button_component do %>
              <%= render header.close_button_icon %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <% if filter %>
        <%= render filter.wrapper_component do %>
          <%= render filter.input_component %>
          <%= filter.content %>
        <% end %>
      <% end %>

      <% if tabs.any? %>
        <%= render tab_wrapper_component do %>
          <% tabs.each do |tab_component| %>
            <%= render tab_component.tab_button.component do %>
              <%= tab_component.tab_button.content %>
            <% end %>
          <% end %>
        <% end %>

        <% tabs.each do |tab_component| %>
          <%= render list_component(hidden: !tab_component.selected) do %>
            <% if tab_component.selected %>
              <% if message.present? %>
                <%= render message_component do %>
                  <%= message %>
                <% end %>
              <% end %>

              <% if loading? %>
                <div class="SelectMenu-loading">
                  <%= content %>
                </div>
              <% elsif blankslate? %>
                <div class="SelectMenu-blankslate">
                  <%= content %>
                </div>
              <% else %>
                <%= content %>
              <% end %>
            <% end %>

            <% tab_component.tab_items.each do |tab_item| %>
              <%= render tab_item.wrapper_component do %>
                <% if tab_item.icon %>
                  <%= render tab_item.icon_component %>
                <% end %>

                <%= tab_item.content %>
              <% end %>

              <% if tab_item.divider.is_a?(String) %>
                <%= render tab_item.divider_component do %>
                  <%= tab_item.divider %>
                <% end %>
              <% elsif tab_item.divider %>
                <%= render tab_item.divider_component %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% else %>
        <%= render list_component do %>
          <% if message.present? %>
            <%= render message_component do %>
              <%= message %>
            <% end %>
          <% end %>

          <% if loading? %>
            <div class="SelectMenu-loading">
              <%= content %>
            </div>
          <% elsif blankslate? %>
            <div class="SelectMenu-blankslate">
              <%= content %>
            </div>
          <% else %>
            <%= content %>
          <% end %>

          <% items.each do |item| %>
            <%= render item.wrapper_component do %>
              <% if item.icon %>
                <%= render item.icon_component %>
              <% end %>

              <%= item.content %>
            <% end %>

            <% if item.divider.is_a?(String) %>
              <%= render item.divider_component do %>
                <%= item.divider %>
              <% end %>
            <% elsif item.divider %>
              <%= render item.divider_component %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <% if footer %>
        <%= render footer.component do %>
          <%= footer.content %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
