<%= wrapper do %>
  <%= render Primer::BaseComponent.new(**@system_arguments) do %>
    <nav role="tablist" aria-label="<%= @aria_label %>" class="tabnav-tabs">
      <% tabs.each do |tab| %>
        <%= tab %>
      <% end %>
    </nav>
  <% end %>

  <% if @with_panel %>
    <% tabs.each do |tab| %>
      <%= tab.panel %>
    <% end %>
  <% end %>
<% end %>
