<% if @is_divider %>
  <%= render(Primer::BaseComponent.new(tag: :li, classes: "ActionList-sectionDivider", role: "presentation", "aria-hidden": true, **@system_arguments)) %>
<% else %>
  <%= render(Primer::BaseComponent.new(tag: :li, **@system_arguments)) do %>
    <%= render(Primer::BaseComponent.new(**@content_arguments)) do %>
    <% if @single_select %>
        <span class="ActionListItem-visual ActionListItem-action--leading">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" class="ActionListItem-singleSelectCheckmark"><path fill-rule="evenodd" d="M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z"></path></svg>
        </span>
      <% end %>
      <% if leading_visual %>
        <span class="ActionListItem-visual ActionListItem-visual--leading">
          <%= leading_visual %>
        </span>
      <% end %>
      <%= render(Primer::ConditionalWrapper.new(condition: description?, tag: :span, **@description_wrapper_arguments)) do %>
        <%= render(Primer::BaseComponent.new(tag: :span, **@label_arguments)) do %>
          <%= @label %>
        <% end %>
        <% if description? %>
          <span class="ActionListItem-description">
            <%= description %>
          </span>
        <% end %>
      <% end %>
      <% if trailing_visual %>
        <span class="ActionListItem-visual ActionListItem-visual--trailing">
          <%= trailing_visual %>
        </span>
      <% end %>
    <% end %>
    <%= tooltip %>
  <% end %>
<% end %>
