<%= render Primer::BaseComponent.new(**@system_arguments) do %>
  <div class="Overlay-headerContentWrap">
    <div class="Overlay-titleWrap">
      <h1 id="<%= @id %>" class="Overlay-title <% if @visually_hide_title || content.present? %>sr-only<% end %>"><%= @title %></h1>
      <% if content.present? %>
        <%= content %>
      <% elsif @subtitle.present? %>
        <h2 class="Overlay-description"><%= @subtitle %></h2>
      <% end %>
    </div>
    <% if @overlay_id %>
      <div class="Overlay-actionWrap">
        <%= render Primer::Beta::CloseButton.new(classes: "Overlay-closeButton", "popovertarget": @overlay_id, "popovertargetaction": "hide", "data-close-dialog-id": @overlay_id) %>
      </div>
    <% end %>
  </div>
  <%= filter %>
<% end %>
