<%= render(Primer::BaseComponent.new(tag: :li, **@system_arguments)) do %>
  <% if leading_action_button %>
    <%= leading_action_button %>
  <% end %>
  <%= render(Primer::BaseComponent.new(**@content_arguments)) do %>
    <%= render(Primer::Alpha::ActionList::Checkmark.new(select_mode: @select_mode)) %>
    <% if leading_visual %>
      <span class="ActionList-item-visual ActionList-item-visual--leading">
        <%= leading_visual %>
      </span>
    <% end %>
    <%= render(Primer::ConditionalWrapper.new(condition: description?, tag: :span, **@description_wrapper_arguments)) do %>
      <%= render(Primer::BaseComponent.new(tag: :span, **@label_arguments)) do %>
        <%= @label %>
      <% end %>
      <% if description? %>
        <span class="ActionList-item-description">
          <%= description %>
        </span>
      <% end %>
    <% end %>
    <% if items.empty? %>
      <% if trailing_visual %>
        <span class="ActionList-item-visual ActionList-item-visual--trailing">
          <%= trailing_visual %>
        </span>
      <% end %>
    <% else %>
      <span class="ActionList-item-action ActionList-item-action--trailing">
        <%= render(
          Primer::OcticonComponent.new(
            classes: "ActionList-item-collapseIcon",
            icon: :"chevron-down",
            size: :small,
            aria: { hidden: "true" }
          )
        ) %>
      </span>
    <% end %>
    <% if trailing_action_visual %>
      <span class="ActionList-item-visual ActionList-item-action--trailing">
        <%= trailing_action_visual %>
      </span>
    <% end %>
  <% end %>
  <% if trailing_action_button %>
    <%= trailing_action_button %>
  <% end %>
  <% unless items.empty? %>
    <%= render(Primer::BaseComponent.new(tag: :ul, **@sub_group_arguments)) do %>
      <% items.each do |item| %>
        <%= item %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
