<%= render(Primer::BaseComponent.new(tag: :li, **@system_arguments)) do %>
  <%= render(@form_wrapper) do %>
    <%= tooltip %>
    <%= render(Primer::BaseComponent.new(**@content_arguments)) do %>
      <% if private_leading_action_icon %>
        <span class="ActionListItem-visual ActionListItem-action--leading">
          <%= private_leading_action_icon %>
        </span>
      <% end %>
      <% if list.select_variant == :single || list.select_variant == :multiple %>
        <span class="ActionListItem-visual ActionListItem-action--leading">
          <%= render(Primer::Beta::Octicon.new(icon: :check, classes: "ActionListItem-singleSelectCheckmark")) %>
        </span>
      <% elsif list.select_variant == :multiple_checkbox %>
        <span class="ActionListItem-visual ActionListItem-action--leading">
          <div class="FormControl-checkbox"></div>
        </span>
      <% end %>
      <% if leading_visual %>
        <span class="ActionListItem-visual ActionListItem-visual--leading">
          <%= leading_visual %>
        </span>
      <% end %>
      <%= render(Primer::ConditionalWrapper.new(condition: description?, tag: :span, **@description_wrapper_arguments)) do %>
        <%= render(Primer::BaseComponent.new(tag: :span, **@label_arguments)) do %>
          <%= @label || content %>
        <% end %>
      <%= description if description? %>
      <% end %>
      <% if trailing_visual %>
        <span class="ActionListItem-visual ActionListItem-visual--trailing">
          <%= trailing_visual %>
        </span>
      <% end %>
      <% if private_trailing_action_icon %>
        <span class="ActionListItem-visual ActionListItem-action--trailing">
          <%= private_trailing_action_icon %>
        </span>
      <% end %>
    <% end %>
  <% end %>
  <% if trailing_action %>
    <%= trailing_action %>
  <% end %>
  <%= private_content %>
<% end %>
