<%= render Primer::BaseComponent.new(**@system_arguments) do %>
  <label for="<%= @input_id %>">
    <% if @is_label_visible %>
      <%= @label_text %>
    <% else %>
      <span class="sr-only"><%= @label_text %></span>
    <% end %>
    <% if icon.present? %>
      <span aria-hidden="true"><%= icon %></span>
    <% end %>
  </label>
  <%= input %>
  <%= results %>
<% end %>
