<%= label %>
<%= render Primer::BaseComponent.new(**@system_arguments) do %>
  <% if icon.present? %>
    <label for="<%= @input_id %>">
      <%= icon %>
    </label>
  <% end %>
  <%= input %>
  <%= results %>
<% end %>


<%# <label data-view-component="true">
  <%= render Primer::OcticonComponent.new(icon: "search", 'aria-label': @aria_label, classes: 'subnav-search-icon') %>
  <%# <svg 
    height="16" 
    viewBox="0 0 16 16" 
    version="1.1" 
    width="16" 
    data-view-component="true" 
    style="z-index:10"
    class="octicon octicon-search subnav-search-icon" 
    aria-label="Search all descriptions">
    <path fill-rule="evenodd" d="M11.5 7a4.499 4.499 0 11-8.998 0A4.499 4.499 0 0111.5 7zm-.82 4.74a6 6 0 111.06-1.06l3.04 3.04a.75.75 0 11-1.06 1.06l-3.04-3.04z"></path>
  </svg> %>
      
    
    <%# <auto-complete src="/auto_complete" for="test-id" data-view-component="true" class="position-relative">
  <input id="input-id" name="input" type="text" data-view-component="true" class="form-control" role="combobox" aria-controls="test-id" aria-expanded="false" aria-autocomplete="list" aria-haspopup="listbox" autocomplete="off" spellcheck="false" placeholder="Search all discussions">
  
  <ul id="test-id" data-view-component="true" class="autocomplete-results" hidden="" role="listbox"></ul>
</auto-complete></label> %>