<%= render Primer::BaseComponent.new(**@system_arguments) do %>
  <label for="<%= @input_id %>">
    <% if @is_label_visible %>
      <%= @label_text %>
    <% else %>
      <span class="sr-only"><%= @label_text %></span>
    <% end %>
    <% if icon.present? %>
      <%= icon %>
    <% end %>
  </label>
  <%= input %>
  <% if @is_clearable %>
    <button id="<%= @input_id %>-clear" class="btn-octicon" aria-label="Clear"><%= primer_octicon "x" %></button>
  <% end %>
  <%= results %>
  <div id="<%= @list_id %>-feedback" class="sr-only"></div>
<% end %>
