<%= render Primer::BaseComponent.new(**@system_arguments) do %>
  <div class="<%= @form_group_classes %>">
    <label for="<%= @input_id %>" class="FormControl-label <% if @visually_hide_label %>sr-only<% end %>">
      <%= @label_text %>
    </label>
    <% if leading_visual || @show_clear_button %>
        <div class="<%= @field_wrap_classes %> <% if leading_visual %>FormControl-input-wrap--leadingVisual<% end %>">
            <span class="FormControl-input-leadingVisualWrap">
                <%= leading_visual %>
            </span>
            <%= input %>
            <% if @show_clear_button %>
              <button id="<%= @input_id %>-clear" class="FormControl-input-trailingAction" aria-label="Clear"><%= primer_octicon "x-circle-fill" %></button>
            <% end %>
        </div>
    <% else %>
      <%= input %>
    <% end %>
  </div>
  <div class="Overlay-backdrop--anchor">
    <div class="Overlay Overlay--height-auto <%= "Overlay--width-#{@width}" %>">
      <div class="Overlay-body Overlay-body--paddingNone">
        <%= results %>
      </div>
    </div>
  </div>
  <div id="<%= @list_id %>-feedback" class="sr-only"></div>
<% end %>
