<%= render Primer::BaseComponent.new(**@system_arguments) do %>
  <label for="<%= @input_id %>">
    <% if @is_label_visible %>
      <%= @label_text %>
    <% else %>
      <span class="sr-only"><%= @label_text %></span>
    <% end %>
    <% if icon.present? %>
      <%= icon %>
    <% end %>
  </label>
  <input id="<%= @input_id %>" name="<%= @input_id %>" type="text" class="form-control" autocomplete="off">
  <%= results %>
<% end %>
