<%= render Primer::BaseComponent.new(**@system_arguments) do %>
  <div class="SegmentedControl-content">
    <%= leading_visual %>
    <% unless @icon_only %>
      <span class="SegmentedControl-text" data-content="<%= @text %>"><%= @text %></span>
    <% end %>
  </div>
  <%= render Primer::Alpha::Tooltip.new(type: :description, for_id: @system_arguments[:id], text: @text) if render_tooltip? %>
<% end %>
