<li class="<%= class_names(
  "SegmentedControl-item",
  "SegmentedControl-item--selected": @selected
  ) %>" role="listitem" data-targets="segmented-control.items">
  <% if @hide_labels %>
    <%= render Primer::Beta::IconButton.new(icon: @icon, "aria-label": @label, **@system_arguments) %>
  <% else %>
    <%= render Primer::Beta::Button.new(**@system_arguments) do |button| %>
      <% button.with_leading_visual_icon(icon: @icon) unless @icon.nil? %>
      <%= @label %>
      <% if trailing_visual? %>
        <%= trailing_visual %>
      <% end %>
    <% end %>
  <% end %>
</li>
